extends layout
block content
    .container.page-title-container
        h1.page-title Events
        a.btn.action-button.jump-to-button(type='button' href='#party-form') Jump to birthday party booking!
        
    .container.event-listing 
        h2.subtitle Check out these events!
        .row.align-items-stretch
            .col-md-4
                //- a(href='/images/info_graphics/pno.png') 
                //-     img(src='/images/info_graphics/pno.png', alt='Parent night out info')
            //- .col-md-3
                //- a(href='/images/info_graphics/mom_day_out.png')
                //-     img(src='/images/info_graphics/mom_day_out.png', alt='Mother\'s day out')
            .col-md-4
                a(href='https://www.facebook.com/events/938767741340623/938767758007288' target='_blank')
                    img(src='/images/info_graphics/mommy_me_asl.png', alt='Mommy and me ASL info')
            .col-md-4
            //-     a(href='/images/info_graphics/mommy_meet.png')
            //-         img(src='/images/info_graphics/mommy_meet.png', alt='Mommy meet info')
        hr
    .container#party-form
        p Please fill out the form below to begin booking your next event! 
        form(action='/events/book' method='post' id='event_form')
            div.form-group.row
                //label.col(for='adult_name') Name
                input.col.form-control(type='text' name='adult_name' id='adult_name' placeholder='Name*' value=user != null? user.name : "" required)
            div.form-group.row
                //label.col(for='adult_email') Email
                input.col.form-control(type='email' name='adult_email' id='adult_email' placeholder='Email*' value=user != null? user.email : "" required)
            div.form-group.row
                //label.col(for='adult_phone') Phone
                input.col.form-control(type='tel' name='adult_phone' id='adult_phone' placeholder='Phone*' value=user != null? user.phone : "" required)
            div.form-group.row
                //label.col(for='event_type')
                select.col.form-control(name='event_type' id='event_type' required)
                    option(value='') Choose Event Type
                    option(value='birthday') Birthday
                    option(value='field_trip') Field Trip
                    option(value='other') Other
            div#general_fields(style='display:none;')
                div.form-group.row
                    label.col(for='date') *Preferred Date:
                    input.col.form-control(type='date' name='date' id='date' min=new Date().toISOString().split('T')[0] max=new Date(new Date().setFullYear(new Date().getFullYear() + 2)).toISOString().split('T')[0] required)
                div.form-group.row
                    label.col(for='time') *Time:
                    input.col.form-control(type='time' name='time' id='time' required)
            div#birthday_fields(style='display:none;')
                if  user && user.children != null && user.children.length > 0 
                    .form-group.row 
                        label.col(for='chosen_child') Choose a Child
                        select.col.form-control(name='chosen_child' id='chosen_child')
                            each child, index in user.children
                                option(value=child.first_name) #{child.first_name}
                else 
                    .form-group.row
                        label.col(for='chosen_child') *Child's Name: 
                        input.col.form-control(type='text' name='chosen_child' id='chosen_child' oninput='validateInputLength(this, 45, "Child\'s Name")')
                div.form-group.row
                    label.col(for='child_birthday') *Child's Birthdate:
                    input.col.form-control(type='text' name='child_birthday' id='child_birthday' pattern='\\d{2}/\\d{2}/\\d{4}' placeholder='mm/dd/yyyy' required)
                div.form-group.row
                    label.col(for='child_gender') *Child's Gender:
                    select.col.form-control(name='child_gender' id='child_gender')
                        option(value='') -
                        option(value='male') Male
                        option(value='female') Female
                div.form-group.row
                    label.col(for='child_color') *Child's Favorite Color (Tablecloth):
                    input.col.form-control(type='text' name='child_color' id='child_color')
                div.form-group.row
                    label.col(for='party_type') *Party Type?
                    select.col.form-control(name='party_type' id='party_type' required)
                        option(value='') Choose one
                        option(value='1hr Private Party Room') 1hr Party Room
                        option(value='2hr Private Party Room') 2hr Party Room
                        option(value='Private Play') Private Play Party
                div.form-group.row
                    label.col(for='add_on') Cleanup or Decorations?
                    select.col.form-control(name='add_on' id='add_on')
                        option(value='none') None
                        option(value='cleanup') Cleanup
                        option(value='decorations') Decorations + Cleanup
                div.form-group.row
                    label.col(for='decoration_theme') Decoration Theme?
                    select.col.form-control(name='decoration_theme' id='decoration_theme')
                        option(value='none') None
                        option(value='Cocomelon') Cocomelon 
                        option(value='star wars') Star Wars  
                        option(value='Bluey') Bluey 
                        option(value='basketball') Basketball  
                        option(value='dinosaur') Dinosaurs
                        option(value='unicorn') Unicorn
                        option(value='space') Space
                        option(value='construction') Construction
                        option(value='Happy Birthday') Happy Birthday (generic)
                        option(value='other') Other - Add in comments
                //- div.form-group.row
                //-     label.col(for='tablecloth_color') *Tablecloth Color:
                //-     select.col.form-control(name='tablecloth_color' id='tablecloth_color' )
                //-         option(value='') Choose one
                //-         option(value='rainbow') Rainbow
                //-         option(value='red') Red
                //-         option(value='orange') Orange
                //-         option(value='yellow') Yellow
                //-         option(value='green') Green
                //-         option(value='blue') Blue
                //-         option(value='purple') Purple
                //-         option(value='pink') Pink
                //-         option(value='black') Black
                //- div.form-group.row
                //-     label.col(for='food') *Will you bring food?
                //-     select.col.form-control(name='food' id='food')
                //-         option(value='') Choose one
                //-         option(value='will bring food') Yes I will
                //-         option(value='will not bring food') No I will not
                //-         option(value='provide me food') Provide me food!
                //- div.form-group.row
                //-     label.col(for='invitations') *Should we make and send invitations for you?
                //-     select.col.form-control(name='invitations' id='invitations')
                //-         option(value='') Choose one
                //-         option(value='yes') Yes!
                //-         option(value='no') No, thank you
            div#field_trip_fields(style='display:none;')
                div.form-group.row
                    label.col(for='field_trip_school_name') *School Name:
                    input.col.form-control(type='text' name='field_trip_school_name' id='field_trip_school_name' oninput='validateInputLength(this, 120, "School Name")')
                div
                    p#field_trip_school_name_error_message(style='color:red;')
                div.form-group.row
                    label.col(for='field_trip_num_kids') *Number of Children:
                    input.col.form-control(type='number' name='field_trip_num_kids' id='field_trip_num_kids'  min='0' max='30')
                div.form-group.row
                    label.col(for='field_trip_num_teachers') *Number of Teachers:
                    input.col.form-control(type='number' name='field_trip_num_teachers' id='field_trip_num_teachers'  min='0' max='30')
                div.form-group.row
                    label.col(for='field_trip_age_range') *Children Age Range:
                    input.col.form-control(type='number' name='field_trip_age_range' id='field_trip_age_range'  min='0' max='18')
                div.form-group.row
                    label.col(for='field_trip_date_range') *Do you have multiple days and times?
                    select.col.form-control(name='field_trip_date_range' id='field_trip_date_range')
                        option(value='true') Yes
                        option(value='false') No
                p Please call us if you need special days and times!
            div#comments(style='display:none;')
                div.form-group.row
                    label.col(for='comments') Comments:
                    textarea.col.form-control(name='comments' id='comments' oninput='validateInputLength(this, 250, "Comments")')
                div
                    p#comments_error_message(style='color:red;')
            button.col-3.btn.action-button(type='submit' id='submit_button') Book Now!          
    script.
        var user = !{JSON.stringify(user)};
        document.addEventListener('DOMContentLoaded', function() {
            const mon_friday_start = '10:00',
                mon_friday_end = '16:00',
                sat_sunday_start = '09:00',
                sat_sunday_end = '18:00';

            var chosenChildSelect = user != null ? document.getElementById('chosen_child') : null;
            var childBirthdayInput = document.getElementById('child_birthday');
            var eventTypeSelect = document.getElementById('event_type');
            var generalFields = document.getElementById('general_fields');
            var birthdayFields = document.getElementById('birthday_fields');
            var fieldTripFields = document.getElementById('field_trip_fields');
            var commentsBox = document.getElementById('comments');
            var timeInput = document.getElementById('time');
            var dateInput = document.getElementById('date');
            var eventForm = document.getElementById('event_form');
            var addOn = document.getElementById('add_on');
            var birthdayInputs = birthdayFields.querySelectorAll('input');
            var field_groups = {
                'birthday': {
                    element: document.getElementById('birthday_fields'),
                    inputs: document.getElementById('birthday_fields').querySelectorAll('input'),
                    selects: document.getElementById('birthday_fields').querySelectorAll('select'),
                },
                'field_trip': {
                    element: document.getElementById('field_trip_fields'),
                    inputs: document.getElementById('field_trip_fields').querySelectorAll('input'),
                    selects: document.getElementById('field_trip_fields').querySelectorAll('select'),
                }
            };

            eventTypeSelect.addEventListener('change', function() {
                var selectedEventType = eventTypeSelect.value;
                if(selectedEventType != ''){
                    generalFields.style.display = 'block';
                    commentsBox.style.display = 'block';
                }else{
                    generalFields.style.display = 'none';
                    commentsBox.style.display = 'none';
                }
                // Loop over the field_groups
                for (var eventType in field_groups) {
                    if (field_groups.hasOwnProperty(eventType)) {
                        var field = field_groups[eventType];

                        if (eventType === selectedEventType) {
                            // Show the field_groups for the selected event type
                            field.element.style.display = 'block';

                            // Set the inputs as required
                            field.inputs.forEach(function(input) {
                                input.required = true;
                            });
                            //- field.selects.forEach(function(input) {
                            //-     input.required = true;
                            //- });
                        } else {
                            // Hide the field_groups for all other event types
                            field.element.style.display = 'none';

                            // Set the inputs as not required
                            field.inputs.forEach(function(input) {
                                input.required = false;
                            });
                            field.selects.forEach(function(input) {
                                input.required = false;
                            });
                        }
                    }
                }
            });

            if (chosenChildSelect){
                chosenChildSelect.addEventListener('change', function() {
                    var chosenChild = user.children[chosenChildSelect.value];
                    //- var age = Math.floor((new Date() - new Date(chosenChild.dob)) / (365.25 * 24 * 60 * 60 * 1000));
                    //- childAgeInput.value = age;
                });
            };
            //- addOn.addEventListener('change', function(){
            //-     var selectedAddOn = addOn.value;
            //-     switch(selectedAddOn){

            //-         'decorations':
            //-             break;
            //-         default:
            //-             break;
            //-     }
            //- });

            dateInput.addEventListener('change', function() {
                var dayOfWeek = new Date(dateInput.value).getDay();
                if (dayOfWeek >= 1 && dayOfWeek <= 5) { // Monday to Friday
                    timeInput.min = mon_friday_start;
                    timeInput.max = '16:00';
                } else { // Saturday and Sunday
                    timeInput.min = '09:00';
                    timeInput.max = '18:00';
                }
            });
            eventForm.addEventListener('submit', function(event) {
                var selectedTime = timeInput.value;
                var minTime = timeInput.min;
                var maxTime = timeInput.max;
                if (selectedTime < minTime || selectedTime > maxTime) {
                    alert('Please select a time between ' + minTime + ' and ' + maxTime);
                    event.preventDefault();
                }
            });
        });
        function validateInputLength(inputElement, maxLength, inputName) {
            var errorMessageElement = document.getElementById(inputElement.name + '_error_message');
            if (inputElement.value.length > maxLength) {
                errorMessageElement.textContent = inputName + ' exceeds maximum length of ' + maxLength;
                document.getElementById('submit_button').disabled = true;
            } else {
                errorMessageElement.textContent = '';
                document.getElementById('submit_button').disabled = false;
            }
        }
